
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-dark: #070a13;
    --clr-light: #f1f5f9;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}
.dark-mode{
    --clr-light: #070a13;
    --clr-dark: #f1f5f9;
}
.box{
    text-align: center;
}
.theme-toggle{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}
